#nav{
	width: 100% ;
	margin: 5px;
	height: 70px;
	overflow: hidden;
}


#horizontalList li{
	display: inline;
	list-style-type: none;
	padding-right: 10px;
}

.spanNav{
	float: right;
}
.navButton {
	background-color:transparent;
	display:inline-block;
	color:#ffffff;
	font-family:Georgia;
	font-size:22px;
	font-weight:bold;
	padding:17px 7px;
	text-decoration:none;
	text-shadow:1px 1px 1px #000000;
}
.navButton:active {
	position:relative;
	top:1px;
}
.navButton:hover{
	color:#66cccc;
	}
